# IDEs
.idea/

# Hugo
resources/
public/
jsconfig.json
node_modules/
go.sum
.hugo_build.lock
content/authors/.DS_Store
.DS_Store
content/authors/.DS_Store
content/.DS_Store
.DS_Store
.DS_Store
static/.DS_Store
static/uploads/.DS_Store
