// Site-wide: narrower left column, wider right column (all sections aligned)
// Applies to About, Experience, Publications, Accomplishments, Talks, Extracurricular

section {
  .row {
    align-items: start;
  }
  .col-lg-4 {
    @media (min-width: 992px) {
      flex: 0 0 22%;
      max-width: 22%;
    }
  }
  .col-lg-8 {
    @media (min-width: 992px) {
      flex: 0 0 78%;
      max-width: 78%;
    }
  }
  .row > .col-12.col-lg-4:first-child {
    @media (min-width: 992px) {
      flex: 0 0 22%;
      max-width: 22%;
    }
  }
  .row > .col-12.col-lg-8:last-child {
    @media (min-width: 992px) {
      flex: 0 0 78%;
      max-width: 78%;
    }
  }
}

@media (max-width: 991.98px) {
  section .col-lg-4,
  section .col-lg-8,
  section .row > .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
